<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Plant Manager</title>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark justify-content-end" style="background-color: #07523d;">
      <ul class="navbar-nav">
            <li class="navbar-item">
              <a class="nav-link" href="#"><b>Plant Manger</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Current care</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Manage your plants</a>
            </li>
      </ul>
    </nav>

    {% block body_block %}

    {% endblock %}

  </body>
</html>
