{% extends "base.html" %}
{% load bootstrap4 i18n %}

{% block body_block %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4  ">
            <h2 class="text-center">{% trans "Change your password" %}</h2>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center"> 
                    <input type="submit" class='btn btn-info align-self-center mx-auto' value={% trans "Save password" %}>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
