<!DOCTYPE html>
{% load static i18n %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'PlantManagerProj/CSS/styles.css' %}">
    <title>Mokosz</title>
  </head>

  <body>

    <nav class="navbar navbar-expand navbar-dark" style="background-color: #07523d;">

    </nav>

    <nav class="navbar navbar-expand navbar-dark" style="background-color: #07523d;">
      <div class='container'>
        <a class='navbar-brand navbar-custom mr-auto' href="{% url 'index' %}"><b>MOKOSZ</b></a>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li class="navbar-item">
                <a class="nav-link navbar-custom" href="#"><b>{% trans "About" %}</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-custom" href=" {% url 'manager:list' %}"><b>{% trans "Your plants %}</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-custom" href="{%url 'manager:settings'%}"><b>{% trans "Settings" %}</b></a>
              </li>
              <li class="navbar-item">
                <a class="nav-link navbar-custom" href="{% url 'accounts:logout' %}"><b>{% trans "Log Out" %}</b></a>
              </li>
          {% else %}
              <li class="navbar-item">
                <a class="nav-link navbar-custom" href="#"><b>{% trans "About" %}</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-custom" href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-custom" href="{% url 'accounts:signup' %}">{% trans "Sign up" %}</a>
              </li>
          {% endif %} 
        </ul>
      </div>
    </nav>



    {% block body_block %}

    {% endblock %}

  </body>

</html>
