{% extends "base.html" %}
{% load bootstrap4 i18n %}

{% block body_block%}

<div class="container">
    <h2>{% trans "DELETE PLANT" %}</h2>
    <form method="POST">
        {% csrf_token %}
        <p> {% trans "Are you sure you want to delete "%} {{object}}?</p>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'manager:list' %}" role="button"> {% trans "Cancel" %} </a>
        <input type="submit" class='btn btn-info align-self-center mx-auto' value={% trans "Confirm" %}>
    </form>
</div>

{% endblock %}