{% extends "base.html" %}
{% load bootstrap4 i18n %}

{% block body_block%}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4  ">
                <a href=" {% url 'manager:createPlant' %}">
                    {% trans "Add new plant" %}
                </a>
                <br>
                <hr>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4  ">
                {% if users_plants %}
                    <form method="POST" action="{% url 'manager:waterPlants' %}">
                        {% csrf_token %}
                        <h3>{% trans "Take care of:" %}</h3>
                        {% for plant in takeCareOf %}
                            <li> {% trans "Plant: " %} {{ plant.name }}</li>
                            <li> {% trans "Location: " %} {{plant.location.room}}</li>
                            <li> {% trans "Last watered: " %} {{ plant.last_water }}</li>
                            <li> {% trans "Water next on: " %} {{plant.next_water }} </li>
                            <input type="checkbox" name="water_me" id="plant{{plant.pk}}" value='{{plant.pk}}'> {% trans "Water me!"%}
                            <li> {% trans "Last fertilized: "%} {{ plant.last_fertilize }}</li>
                            <li> {% trans "Fertilize next on: " %} {{plant.next_fertilize }} </li>
                            <input type="checkbox" name="fertilize_me" id="plant{{plant.pk}}" value='{{plant.pk}}'> {% trans "Fertilize me!" %}
                            <br>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'manager:editPlant' slug=plant.slug %}" role="button"> {% trans "Edit" %} </a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'manager:deletePlant' slug=plant.slug %}" role="button"> {% trans "Delete" %} </a>
                            <hr>
                            <br>
                        {% empty %}
                            <li>{% trans "All your plants are up to date!" %}</li>
                        {% endfor %}

                        <br>
                        <hr>
                        <hr>
                        <br>
                        
                        <h3>{% trans "Up to date:" %}</h3>
                        {% for plant in upToDate %}
                            <li> {% trans "Plant: " %} {{ plant.name }}</li>
                            <li> {% trans "Location: " %} {{plant.location.room }}</li>                         
                            <li> {% trans "Last watered: " %} {{ plant.last_water }}</li>
                            <li> {% trans "Water next on: " %} {{plant.next_water }} </li>
                            <input type="checkbox" name="water_me" id="plant{{plant.pk}}" value='{{plant.pk}}'> {% trans "Water me!" %}
                            <li> {% trans "Last fertilized: "%} {{ plant.last_fertilize }}</li>
                            <li> {% trans "Fertilize next on: " %} {{plant.next_fertilize }} </li>
                            <input type="checkbox" name="fertilize_me" id="plant{{plant.pk}}" value='{{plant.pk}}'> {% trans "Fertilize me!" %}
                            <br>
                            <a class="btn btn-outline-info btn-sm" href="{% url 'manager:editPlant' slug=plant.slug %}" role="button"> {% trans "Edit" %} </a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'manager:deletePlant' slug=plant.slug %}" role="button"> {% trans "Delete" %} </a>
                            <hr>
                            <br>
                        {% empty %}
                            <li>{% trans "No plants are up to date!" %}</li>
                        {% endfor %}
                            <input type="submit" class='btn btn-info align-self-center mx-auto' value={% trans "Update" %}>
                    </form>
                {% else %}
                    <h4>{% trans "No plants added yet!" %}</h4>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}